<div class="form-container mat-elevation-z5">
    <h1>login </h1>
<form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
        <input matInput placeholder="Email address" formControlName="email">
        <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="password" formControlName="password">
        <mat-error *ngIf="password?.errors?.['required']">password is required</mat-error>
    </mat-form-field>
<div class="center margin-top">
    <button mat-raised-button color="secondary" type="submit">Login</button>
</div>
<span class="center margin-top">new to our platform</span><a class="sign-up-link" routerLink="/sign-up">Sign Up!</a>
</form>

</div>